/* Base */
.code-steps
{
    overflow: auto;
    position: relative;
}

.code-steps pre[class*="language-"]
{
    margin: 0;
    display: inline-block;
    min-width: 100%;
    box-sizing: border-box;
}

/* Letters */
.code-steps .letter
{
    opacity: 0.3;
    transition: opacity 0.1s;
    will-change: opacity;
}

.code-steps .letter.is-active
{
    opacity: 1;
}

/* Descriptions */
.code-steps .descriptions
{
    position: sticky;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.code-steps .descriptions .description
{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
}

.code-steps .descriptions .description.is-active
{
    opacity: 1;
    transition-delay: 0.2s;
}

.code-steps .descriptions .description .inner
{
    padding: 16px 32px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

